<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>stuenroll</display-name>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>cn.gov.jyw.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/jsp/backyard/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserFilter</filter-name>
    <filter-class>cn.gov.jyw.filter.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/jsp/backyard/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>OpenEnrollFilter</filter-name>
    <filter-class>cn.gov.jyw.filter.OpenEnrollFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OpenEnrollFilter</filter-name>
    <url-pattern>/jsp/enroll/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			classpath:applicationContext.xml
		</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>cn.gov.jyw.listener.SystemListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>PidAjax</servlet-name>
    <servlet-class>cn.gov.jyw.ajax.PidAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PidAjax</servlet-name>
    <url-pattern>/ajax/PidAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmailAjax</servlet-name>
    <servlet-class>cn.gov.jyw.ajax.EmailAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailAjax</servlet-name>
    <url-pattern>/ajax/EmailAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StuEnrollBatchAjax</servlet-name>
    <servlet-class>cn.gov.jyw.ajax.StuEnrollBatchAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuEnrollBatchAjax</servlet-name>
    <url-pattern>/ajax/StuEnrollBatchAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BirthdayAjax</servlet-name>
    <servlet-class>cn.gov.jyw.ajax.BirthdayAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BirthdayAjax</servlet-name>
    <url-pattern>/ajax/BirthdayAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefAjax</servlet-name>
    <servlet-class>cn.gov.jyw.ajax.RefAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefAjax</servlet-name>
    <url-pattern>/ajax/RefAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExamAjax</servlet-name>
    <servlet-class>cn.gov.jyw.ajax.ExamAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamAjax</servlet-name>
    <url-pattern>/ajax/ExamAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SimpleCaptcha</servlet-name>
    <servlet-class>nl.captcha.servlet.SimpleCaptchaServlet</servlet-class>
    <init-param>
      <param-name>captcha-width</param-name>
      <param-value>300</param-value>
    </init-param>
    <init-param>
      <param-name>captcha-height</param-name>
      <param-value>100</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleCaptcha</servlet-name>
    <url-pattern>/simpleCaptcha.png</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CaptAjax</servlet-name>
    <servlet-class>cn.gov.jyw.ajax.CaptAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptAjax</servlet-name>
    <url-pattern>/ajax/CaptAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CXFServlet</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>CXFServlet</servlet-name>
    <url-pattern>/service/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>/jsp/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>